.about {
    background-color: $bgSecondary;
    padding: 12% 0;
    .graphics {
        bottom: 0;
        right: 0;
        width:20%;
    }
}

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding-bottom: 10%;
    .imagecontainer {
        width: 35%;
        padding-right: 5%;
    }
    img {
        border-radius: 100%;
        width: 100%;
        
    }
    .aboutText {
        border-left: 1px solid $fontColour;
        padding:5% 0 5% 5%;
        width:50%;
        p {
            margin-top: 0;
        }
        .firstPara {
            font-weight: 500;
        }
    }
}

