footer{
    background-color: $bgSecondary;
    position: relative;
    .graphics {
        bottom: 0;
        width:15%;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        p {
            font-size: 16px;
            margin: 1%;
        }
    }
}