footer{
    background-color: $bgSecondary;
    position: relative;
    .graphics {
        bottom: 0;
        width:15%;
    }
    .wrapper{
        display: flex;
        justify-content: center;
    }
}