.skills {
    padding: 5% 0;

    .graphics {
        bottom: -10%;
        right: 0;
        z-index: 1;
    }
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;

    li {
        width: calc(100% / 6);
        display: flex;
        margin: 4% 0;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        transition: 0.2s ease-in;

        &:hover,
        &:focus {
            color: $accentColour;
            transform: scale(105%);
        }

        i {
            font-size: 60px;

        }

        p {
            font-size: 18px;
            text-align: center;
        }

    }
}