$bgPrimary: #f6f5f1;
$bgSecondary: #ebe6e0;
$bgFooter: #ffffff;

$fontColour: #1a2527;
$lighterFont:  #585f5e;
$accentColour: #ff8059;

$bodyFont: 'Rubik', sans-serif;
$headerFont: 'Sorts Mill Goudy', serif;
